.row.equal-height {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4.equal-height-child,
.col-md-8.equal-height-child {
    display: flex;
    flex-direction: column;
}

.input-output-container {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.input-area,
.output-area {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-buttons {
    margin-top: 10px;
}

.tasktype-input-group {
    margin-top: 20px;
}

.tasktype-dropdown {
    max-width: 200px;
    min-width: 100px; /* 確保最小寬度 */
}

#uploadArea {
    border: 1px solid lightgray;
}
