.upload-area {
    height: 200px;
    background-color: #f8f9fa;
    cursor: pointer;
    text-align: center;
    color: #6c757d;
}

    .upload-area:hover {
        background-color: #e9ecef;
        color: #495057;
    }

.image-preview {
    height: 200px;
    background-color: #f8f9fa;
}

    .image-preview img {
        max-width: 100%;
        max-height: 100%;
        display: none; /* Initially hidden */
    }

.category-dropdown {
    max-width: 200px;
    min-width: 100px; /* 確保最小寬度 */
}

.action-dropdown {
    max-width: 200px;
    min-width: 150px; /* 確保最小寬度 */
    margin-right: 10px; /* 與按鈕間距 */
}
